
                                  	
	<h3>Bill Master Detail View</h3>
		<form>                               <!-- main form	 -->

	    <div class="col-md-4">               <!-- FIRST DIVISION -->
                 <form role="inline">        <!--  first form  -->
				   

				    <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Date:</label>
				            <input capitalize class="form-control" ng-model="findtest" id="inputdefault" type="text">
			        </div>


                    <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Patient name:</label>
				            <input capitalize class="form-control" ng-model="patname" id="inputdefault" type="text">
			        </div>

			        <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Bill id:</label>
				            <input capitalize class="form-control" ng-model="bid" id="inputdefault" type="text">
			        </div>
                 
                  
                </form>           <!-- first form ends -->
              

              




              </div>                                <!-- first division End -->

             <div class="col-md-4">                <!-- SECOND DIVISION -->
                 <form group="inline"><!-- second form -->
                   <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Refference by:</label>
				            <input capitalize class="form-control" ng-model="rfby" id="inputdefault" type="text">
			        </div>

			        <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Report id:</label>
				            <input capitalize class="form-control" ng-model="repid" id="inputdefault" type="text">
			        </div>

			         <div class="form-group">	          
				            <label class="control-label" for="inputdefault"> Bill Date:</label>
				            <input capitalize class="form-control" ng-model="findtest" id="inputdefault" type="text">
			        </div>

                </form><!-- second form ends -->
             </div>                                         <!-- second division ends -->
                         
                <div class="col-md-8"> <!-- third division -->
                    <h3>Bill details</h3>
                      <form group="inline">

                      <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Total:</label>
				            <input capitalize class="form-control" ng-model="ttl" id="inputdefault" type="text">
			        </div>

			         <div class="form-group">	          
				            <label class="control-label" for="inputdefault">EOC:</label>
				            <input capitalize class="form-control" ng-model="eoc" id="inputdefault" type="text">
			        </div>

			         <div class="form-group">	          
				            <label class="control-label" for="inputdefault">EOC detail:</label>
				            <input capitalize class="form-control" ng-model="eocdetail" id="inputdefault" type="text">
			        </div>

			         <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Discount:</label>
				            <input capitalize class="form-control" ng-model="discount" id="inputdefault" type="text">
			        </div>

			         <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Advance:</label>
				            <input capitalize class="form-control" ng-model="findtest" id="inputdefault" type="text">
			        </div>

			         <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Due balance:</label>
				            <input capitalize class="form-control" ng-model="dueb" id="inputdefault" type="text">
			        </div>

			         <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Paid:</label>
				            <input capitalize class="form-control" ng-model="paid" id="inputdefault" type="text">
			        </div>

			        </form>

                     
                      <button type="button" class="btn btn-primary">DONE</button>                    
                    <button type="button" class="btn btn-warning">CLEAR</button>













</form><!-- main form ends-->









</div>
