<div class="cc-charges">
    <div class="col-md-12">
        <h3>CC-charges</h3>
            <div class="row">
                	<div class="col-md-12">    
			            	<label  class="control-label" for="inputdefault"><h3><span class="label label-info">collection centre</span></h3></label>
			            	</div>
			            	<div class="col-md-11" ng-model="ccname">
							 	<select class="selectpicker form-control">
								<option>HADAPSAR </option>
								<option>KOTHRUD </option>
								<option>KATRAJ</option>
								<option>SWARGATE</option>
							 </select>
					       </div>
					    </div>
					    <hr class="divider">
					    <hr class="divider">
					     <div class="col-md-11"> <!-- third division -->
                    
                      <form group="inline">
                       <div class="table-responsive" id="content">
                       <table id="myTable" class="display table" width="100%" >


							        <thead>  
							          <tr>  
							            <th>TEST</th>  
							            <th>LAB CHARGES</th>  
							            <th>CENTER CHARGES</th>  
							            <th>BILL CHARGES</th> 
							            
							          </tr>  
							        </thead>  
							        <tbody>  
							          <tr>  
							            <td>URINE</td>  
							            <td>440</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>BLOOD</td>  
							            <td>790</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>HEART</td>  
							            <td>1100</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter bill charges"></td>  
							          </tr>  
							           <tr>  
							            <td>TYPHOID</td>  
							            <td>800</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>SUGAR</td>  
							            <td>500</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>BLOOD</td>  
							            <td>400</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter
							            bill charges"></td>  
							          </tr>  
							          
							           <tr>  
							            <td>URINE</td>  
							            <td>500</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter 
							            bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>TYPHOID</td>  
							            <td>500</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter
							            bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>SUGAR</td>  
							            <td>1000</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter
							            bill charges"></td>  
							          </tr>  
							          
							            <tr>  
							            <td>TYPHOID</td>  
							            <td>900</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter
							            bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>TYPHOID</td>  
							            <td>400</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter bill charges"></td>  
							          </tr>  
							          <tr>  
							            <td>BLOOD</td>  
							            <td>500</td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter charges"></td>  
							            <td><input class="form-control" id="focusedInput" type="text" value="enter bill charges"></td>  
							          </tr>  
							        </tbody>  
							      </table>  
      </div></form></div></div></div>



    	



































    
















































    </div>	
</div>
