<div class="container" style="border: 1px solid;">
    <div class="row">
        <div class="col-md-3">

            <h4>Contact Managament</h4>
            <h4><span class="label label-default">select contact category</span></h4>

            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Name">
            </div>
            <h4><span class="label label-default">search contact by Name/Category</span></h4>

            <div class="form-group">
                <textarea class="form-control" rows="30" id="comment"></textarea>
            </div>
        </div>
        <div class="col-md-9">
            <!-- First Row start-->
            <div class="row">
                <div class="col-md-4">
                    <h4><span class="label label-default">Contact category</span></h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="Name">
                    </div>
                    <button type="button" class="btn btn-sm btn-info">Add New</button>
                </div>
                <div class="col-md-4">
                    <h4><span class="label label-default">Faculty</span></h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="Name" style="width: 100px;">
                    </div>
                    <button type="button" class="btn btn-sm btn-info">Add New</button>
                </div>
                <div class="col-md-4">
                    <h4><span class="label label-default">Designation</span></h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="Name">
                    </div>
                    <button type="button" class="btn btn-sm btn-info">Add New</button>
                </div>
            </div>
            <!-- First Row End-->
            <!-- Orgnisation Row start-->
            <div class="row">                    
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <label>Organisation Title</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Organisation Title..." style="width:100%">
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-4">
                            <label>Registration No.</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="usr" placeholder="Registration No...">
                        </div>
                    </div>                    
            </div>
            <!-- Orgnisation Row end-->
            <!-- Name Row start-->
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-9">
                        <div class="row"  style="padding-top:0px">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="Text1" >
                            </div>
                            <div class="col-md-9">                           
                                <input type="text" class="form-control" id="Text2" placeholder="Name...">
                            </div>
                        </div>                            
                    </div>                        
                </div>
                <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;"></div>
            </div>
            <!-- Name Row End-->
            <!-- Address Row Start -->
            <div class="row">                    
                    <div class="col-md-6" style="padding-top:1%">
                        <div class="col-md-3">
                            <label>Address</label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-top: 1%;">
                        <div class="col-md-3">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="usr" placeholder="state...">
                        </div>

                        <div class="col-md-3">
                            <label>District</label>
                        </div>
                        <div class="col-md-9" style="padding-top: 1%;">
                            <input type="text" class="form-control" id="usr" placeholder="District...">
                        </div>

                        <div class="col-md-3">
                            <label>City</label>
                        </div>
                        <div class="col-md-9" style="padding-top: 1%;">
                            <input type="text" class="form-control" id="usr" placeholder="City...">
                        </div>
                    </div>
                
            </div>
            <!-- Address Row End -->
            <!--  Details Information Row Start -->
            <div class="row">
                
                    <div class="col-md-6">

                        <div class="col-md-3">
                            <label>DOB</label>
                        </div>
                        <div class="col-md-9" style="padding-top: 1%;">
                            <input type="text" class="form-control" id="usr" placeholder="Date Of Birth...">
                        </div>

                        <div class="col-md-3">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Phone...">
                        </div>

                        <div class="col-md-3">
                            <label>Mobile</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="mobile...">
                        </div>

                        <div class="col-md-3">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Email...">
                        </div>

                        <div class="col-md-3">
                            <label>Web</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="url" class="form-control" id="usr" placeholder="Web...">
                        </div>

                        <div class="col-md-3">
                            <label>Qualification</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Qualification...">
                        </div>

                        <div class="col-md-3">
                            <label>PAN</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Pan...">
                        </div>

                        <div class="col-md-3">
                            <label>ESIC</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Esic...">
                        </div>

                        <div class="col-md-3" >
                            <label>EPF</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="EPF...">
                        </div>

                        <div class="col-md-3">
                            <label>BANK</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Bank...">
                        </div>

                        <div class="col-md-3">
                            <label>Branch</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Branch...">
                        </div>

                        <div class="col-md-3">
                            <label>Acc No</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="Account No...">
                        </div>

                        <div class="col-md-3">
                            <label>IFS Code</label>
                        </div>
                        <div class="col-md-9"  style="padding-top:1%">
                            <input type="text" class="form-control" id="usr" placeholder="IFS Code...">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-6"  style="padding-top:4%">
                            <label>Select Hospital</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <div class="col-md-6" style="padding-top:4%">
                            <label>Select Branch</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4" style="padding-top:2%">
                            <label>Logo / Photo</label>
                            <img data-src="" class="img-thumbnail" alt="A generic square placeholder image.">
                            <div style="margin-top: 10px;">
                                <button type="button" class="btn btn-sm btn-success">Select image</button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4" style="padding-top:2%">
                            <label>Signature</label>
                            <img data-src="" class="img-thumbnail" alt="A generic square placeholder image.">
                            <div style="margin-top: 10px;">
                                <button type="button" class="btn btn-sm btn-success">Select image</button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                
            </div>
            <!--  Details Information Row End-->
            <!-- Button Row Start -->
            <div class="row">
                <p>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary">New Contact</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning">Modify Contact</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info">Cancel</button>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger">Delete Contact</button>
                    </div>
                </p>
            </div>
            <!-- Button Row End -->
        </div>
    </div>
</div>