<div class="row"><!-- Main' ROW Open -->	
	<h1 style="color:blue">Descriptive test</h1>
	<hr>
	<form role="form-inline">
		<div class="col-md-12">
			<div class="form-group clearfix">
				<label class="control-label col-sm-3" for="inputdefault">Test name:</label>
                <div class="col-sm-9">
                	<input capitalize class="form-control" ng-model="descriptiveTestName" id="inputdefault" placeholder="Enter test name" type="text">
                </div>
			</div>

            <div class="form-group clearfix">
            	<label class="control-label col-sm-3" for="inputdefault">Test details:</label>
                <div class="col-sm-9">
                	<textarea class="form-control custom-control" rows="15" style="resize:none"></textarea>
                </div>      
			</div>

			<div class="form-group clearfix">
				<label class="control-label col-sm-3" for="inputdefault">Test charges:</label>
				<div class="col-sm-9">
					<input type="number" name="input" class="form-control" ng-model="example.value" placeholder="00" min="0" max="99" required />
				</div>
			</div>

			<div class="form-group clearfix">     
				<label  class="control-label col-sm-3" for="inputdefault">Flag:</label>
				<div class="col-sm-9">
					<select class="selectpicker form-control" style="width:60%; display:inline-block">
					<option>example</option>
					<option>example</option> 
				</select>
				<button type="button" class="btn btn-primary"> ADD </button>
			</div>	
			</div>

			<div class="form-group clearfix">     
				<label class="control-label col-sm-3" for="inputdefault">Method:</label>
				<div class="col-sm-9">
					<select class="selectpicker form-control" style="width:60%; display:inline-block">
						<option>example</option>
						<option>example</option>
					</select>
					<button type="button" class="btn btn-primary btn-md"> ADD </button>
				</div>
			</div>

			<div class="form-group clearfix">
				<label class="control-label col-sm-3" for="inputdefault">Sample:</label>
				<div class="col-sm-9">
					<select class="selectpicker form-control" style="width:60%; display:inline-block">
						<option>example</option>
						<option>example</option>
					</select>
				    <button type="button" class="btn btn-primary"> ADD </button>
				</div>
			</div>			       

			<div class="form-group clearfix">
				<label class="control-label col-sm-3" for="inputdefault">Instrument:</label>
					<div class="col-sm-9">
						<select class="selectpicker form-control" style="width:60%; display:inline-block">
							<option>example</option>
							<option>example</option>
						</select>
						<button type="button" class="btn btn-primary "> ADD </button>
					</div>
			</div>

			<div class="form-group clearfix">
				<label class="control-label col-sm-3" for="inputdefault">Outsourced Test:</label>
				<div class="col-sm-9">
					<select class="selectpicker form-control">
						<option>hospital</option>
						<option>clinic</option>
					</select>
				</div>
			</div>

			<div class="form-group clearfix">
				<div class="col-md-12" style="background-color:#EBF1D2; text-align: center; padding:15px;">
					<button type="button" class="btn btn-primary"> SAVE </button>
					<button type="button" class="btn btn-info">UPDATE</button>
					<button type="button" class="btn btn-warning">CLEAR</button>
				</div>
			</div>

		</div>

		<div class="col-md-12">
			
			
				  

		</div>	
<hr class="seperator">
	</form>   
	<!-- SET Divider -->
	<hr class="separator">
	<div class="row col-md-12">
		<label class="control-label" for="inputdefault">SEARCH</label>:
		<select class="selectpicker">
			<option>example</option>
			<option>example</option>
		</select>
		<input type="text" name="testname" ng-model="test" required>

		<label class="control-label" for="inputdefault">VIEW PAGE NO.</label>:
		<select class="selectpicker">
			<option>example</option>
			<option>example</option>
		</select>

		<a href="">VIEW ALL PAGES</a>
		<label>RECORDS PER PAGE</label>:
		<select class="selectpicker">
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
			           
		<button type="button" class="btn btn-default">RESET</button>
							
		<!-- SET Divider -->
		<hr class="divider">
		<table class="table table-bordered">
        	<thead>
            	<tr>
	                <th>TEST NAME</th>
	                <th>CHARGES</th>
	                <th>METHOD</th>
	                <th>SAMPLE</th>
	                <th>FLAG</th>                                
	                <th>ACTION</th>
	            </tr>
        	</thead>
        	<tbody>
            	<tr>
	                <td>EXAMPLE 1</td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>	                	
	                
            	</tr>
            	<tr>
	                <td>EXAMPLE 2</td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
            	</tr>
            	<tr>
	                <td>EXAMPLE3</td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
            	</tr>
        	</tbody>
    	</table>
									
		<center>
			<ul class="pagination">
		    	<li><a href="#">1</a></li>
		        <li class="active"><a href="#">2</a></li>
		        <li><a href="#">3</a></li>
		        <li><a href="#">4</a></li>
		        <li><a href="#">5</a></li>
			</ul>
		</center>
	</div>
</div><!--Main ROW Close-->		