<div class="flag_master"> 
    <form name="flag" ng-submit="addFlag()">
        <h1 style="color:blue">ADD FLAG</h1>
        <hr>     
          <form role="form-inline">
            <div class="col-md-12">
              <div class="form-group clearfix">
                  <label class="control-label col-sm-3" for="inputdefault">Flag name:</label>
                  <div class="col-sm-9">
                      <input placeholder='Flag Name' capitalize class="form-control input-sm" ng-model="flag.name" id="inputdefault" >
                  </div>
              </div>
              <div class="form-group clearfix">
                <label class="control-label col-sm-3" for="inputdefault">Percent:</label>
                  <div class="col-sm-9">
                      <input placeholder='%'capitalize class="form-control input-sm" input type="number" ng-model="flag.percent" id="inputdefault" >
                  </div>
              </div>
              <div class="form-group clearfix">
                <label class="control-label col-sm-3" for="inputdefault">Amount:</label>
                <div class="col-sm-9">
                      <input placeholder='00' capitalize class="form-control input-sm" input type="number" ng-model="flag.amount" id="inputdefault" >
                </div>
          </div>
          <div class="col-md-12" style="text-align:center; margin-bottom:15px;">
            <button type="submit" class="btn btn-primary">SUBMIT</button>                    
            <button type="button" class="btn btn-warning">RESET</button>
          </div>
    </form>
	<div ui-grid="myData" class="myGrid" style="clear:both; margin-top: 15px;"></div><!-- Grid -->
</div>