<div class="generic">
  <h1>Generic</h1>

  <form name="myForm" ng-submit="add()">
    <section class="error-section" >  
      <div class="row">
        <div>
          <alert class="col-lg-12 alert alert-success" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</alert>
        </div>
      </div>
    </section>
    <div class="form-group">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail" class="control-label col-xs-2">Select Category</label>
          <div class="col-xs-10">
            <select class="selectpicker form-control" ng-model="selectedItem" id="slct" ng-options="value.name for value in metadata.genericData track by value.id" ng-change="getSelectedCategoryData()">
            </select>
          </div>
        </div>
      </form>
    </div>
    <div ng-if="selectedItem">
      <div class="form-group">
        <label class="control-label">Add {{selectedItem.name}}</label>
        <input type="text" name="user"  class="form-control input" ng-model="metadata.gname">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn" ng-click="add()">Add</button>
        <button type="reset" class="btn btn-warning btn">clear</button>
      </div>
    </div>
  </form>
<!-- editable grid -->
  <div ng-if="selectedItem && categoryResultCount">
    <input ng-model='filterValue'>

    <button class="btn btn-primary" ng-click="filter()"><span class="glyphicon glyphicon-search"></span></button>
     
    <div ui-grid="gridOptions"  ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
  </div>
  <div ng-if="selectedItem && !categoryResultCount">
    <p><h4>No result found</h4></p>
  </div>
</div>