<div class="staff-master"><!-- main div class -->
    <h1>Hospital Master</h1>
      <form><!-- main form -->
            <div class="col-md-5" ><!-- first division of page starts -->
                          
                                  <div class="form-group">            
                                        <label class="control-label" for="inputdefault">Hospital Name</label>
                                        <input capitalize class="form-control" ng-model="Hname" id="125" type="text" mandotary>
                                  </div>

                         

                                   <div class="form-group">            
                                        <label class="control-label" for="inputdefault">Registration no.</label>
                                        <input capitalize class="form-control" ng-model="rno" id="125" type="text" mandotary>
                                   </div>

                                    <div class="form-group">
                                         <label>address</label>
                                         <textarea class="form-control ng-pristine ng-valid ng-touched" rows="12" id="searchresult" ng-model="ad" aria-multiline="true" ng-model="adrs" aria-invalid="false" style=""></textarea>
                                    </div>

              </div><!-- first division of page ends -->

               <div class="col-md-5"><!-- second division of page starts here --> 

                                   <div class="form-group">
                                      <div class="col-md-12">  <label class="control-label" for="inputdefault">Faculty name</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control" ng-model="facname">
                                        <option>GAYNAECOLOGIS</option>
                                        <option>OARTHOPEDIC</option>
                                        <option>ONCOLOGY</option>
                                        <option>PATHOLOGY</option>
                                        </select></div>
                                        <button type="button" class="btn btn-info  btn-md">ADD</button>
                               </div> 
                                
                                  <div class="form-group">
                                         <div class="col-md-12">  <label class="control-label" for="inputdefault">State</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control" ng-model="ste">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-info  btn-md">ADD</button>
                                   </div> 


                                   <div class="form-group">
                                         <div class="col-md-12">  <label class="control-label" for="inputdefault">city-district</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control" ng-model="ctydist">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-info  btn-md">ADD</button>
                                   </div> 


                                   <div class="form-group">            
                                            <label class="control-label" for="inputdefault">CONTACT NUMBER</label>
                                            <input capitalize class="form-control" ng-model="cntctno" id="513" type="number" mandotary>
                                  </div>


                                  <div class="form-group">            
                                            <label class="control-label" for="inputdefault">EMAIL</label>
                                            <input capitalize class="form-control" ng-model="emil" id="582" type="text" mandotary>
                                  </div>



                                  <div class="form-group">            
                                            <label class="control-label" for="inputdefault">key-person</label>
                                            <input capitalize class="form-control" ng-model="kpersn" id="741" type="text" mandotary>
                                  </div>                                                                          
              </div> <!-- second division of page ends -->

                                                                                                                                              
                   <div class="col-md-2">                                        <!-- third division of page starts -->
                                  <div class="form-group">
                                          <label>Logo</label>
                                          <div class="fileupload fileupload-new" data-provides="fileupload">
                                          <div class="fileupload-preview thumbnail" style="width: 80px; height: 150px;"></div>
                                          <div>
                                          <span class="btn btn-file"><span class="fileupload-new">Select image</span><br>
                                          <span class="fileupload-exists">Change</span><input type="file" /></span>
                                          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>  
                                  </div>                                                       
          </div> <!-- third division of page ends -->
                              </div></div></div></div>
                                          <div class="form-group">
                                                  <div class="col-md-offset-1  col-md-12">
                                                   <button type="button" class="btn btn-success" ng-click="">SAVE</button>
                                                   <button type="button" class="btn btn-info" ng-click="">UPDATE</button>
                                                   <button type="button" class="btn btn-warning" ng-click="">CLEAR</button>
                                          </div>

              <div class="col-md-12">
                
                     <hr class="divider">

                             <form group="inline">
                                   <table id="myTable" class="table table-striped table-bordered" >

                                          <thead>  
                                            <tr>  
                                              <th>Hospital name</th>  
                                              <th>key person</th>
                                              <th>Registration no</th>
                                              <th>Action</th>
                                            </tr>  
                                          </thead>  
                                          <tbody>  
                                            <tr>  
                                              <td>Sahyadri</td>  
                                              <td>acountant</td>
                                              <td>555555</td> 
                                              <td>
                                              
                                              </td> 
                                                
                                            </tr>  
                                            <tr>  
                                              <td>Mangeshkar</td>  
                                              <td>patho</td> 
                                              <td>5555555</td> 
                                              <td>
                                                
                                              </td>
                                                
                                            </tr>  
                                            <tr>  
                                              <td>sancheti</td>  
                                              <td>main</td>
                                              <td>4444444</td> 
                                              <td>
                                                
                                              </td>
                                              
                                            </tr>  
                                             <tr>  
                                              <td>Nobles</td>  
                                              <td>branch</td>
                                              <td>444444</td> 
                                              <td>
                                               
                                              </td>
                                              </tr>  
                                             </tbody>  
                                        </table>  

    </form>        
</div>
   
                                    
                              






                                 

















































































































    </form>
</div><!-- main div class ends -->


         
