<div class="sidebar-holder" ng-if="isLogin">
  <ul class="nav  nav-list">

    <!-- sidebar to mini Sidebar toggle -->
    <li class="submenu">
      <a class="dropdown" ui-sref="genric" data-original-title="Generic"><i class="fa fa-book"></i><span class="hidden-minibar">  Generic <span class="badge bg-primary pull-right"></span>
      </a>
      <ul>
        <li><a href="calendar.html" data-original-title="Calendar"><i class="fa fa-calendar"></i><span> Calendar</span></a></li>
      </ul>
    </li>
    
    <li class="submenu" ng-if="checkVisible[1].is_visible"> <!-- Example for second level menu -->
      <a class="dropdown" ui-sref="descriptive-test" data-original-title="UI Elements"><i class="fa fa-user"></i><span class="hidden-minibar">  Descriptive Test <span class="badge bg-primary pull-right">17</span></a>
      <ul>
        <li><a href="alerts.html" data-original-title="Alerts"><i class="fa fa-exclamation-triangle"></i><span> Alerts</span></a></li>
      </ul>
    </li>    

    <li class="submenu" ng-if="checkVisible[2].is_visible"> <!-- Example for second level menu -->
      <a class="dropdown" ui-sref="testmaster" data-original-title="Testmaster"><i class="fa fa-table"></i><span class="hidden-minibar">  Testmaster <span class="badge bg-primary pull-right">3</span></a>
      <ul>
        <li><a href="basic-tables.html" data-original-title="Basic"><i class="fa fa-table"></i><span>  Basic Tables</span></a></li>
      </ul> 
    </li>

    <li class="submenu" ng-if="checkVisible[3].is_visible"> <!-- Example for Third level menu -->
      <a class="dropdown" ui-sref="flag-master" data-original-title="Flag Master"><i class="fa fa-sitemap"></i><span class="hidden-minibar"> Flag Master <span class="badge bg-primary pull-right">3</span></a>
      <ul>
        <li><a href="#" data-original-title="SubMenu"><i class="fa fa-android"></i><span> Submenu </span></a></li>
      </ul> 
    </li>

    <li class="submenu" ng-if="checkVisible[2].is_visible">
      <a class="dropdown" ui-sref="patient-master" data-original-title="Patient Master"><i class="fa fa-list-alt"></i><span class="hidden-minibar"> Patient Master  <span class="badge bg-primary pull-right">9</span></a>
      <ul>
        <li ><a href="dropzone-file-upload.html" data-original-title="Dropzone"><i class="fa fa-level-down"></i><span>  Dropzone File Upload</span></a></li>
      </ul> 
    </li>

    <li class="submenu" ng-if="checkVisible[1].is_visible">
      <a class="dropdown" ui-sref="test-master-details" data-original-title="test master details"><i class="fa fa-list-alt"></i><span class="hidden-minibar"> test master details<span class="badge bg-primary pull-right">7</span></a>
      <ul>
        <li ><a href="dropzone-file-upload.html" data-original-title="Dropzone"><i class="fa fa-level-down"></i><span>  Dropzone File Upload</span></a></li>
      </ul> 
    </li>

    <li class="submenu" ng-if="checkVisible[1].is_visible">
      <a class="dropdown" ui-sref="test-calculator" data-original-title="test calculator"><i class="fa fa-list-alt"></i><span class="hidden-minibar">test calculator<span class="badge bg-primary pull-right">5</span></a>
      <ul>
        <li ><a href="dropzone-file-upload.html" data-original-title="Dropzone"><i class="fa fa-level-down"></i><span>  Dropzone File Upload</span></a></li>
      </ul> 
    </li>

   
    <li class="submenu" ng-if="checkVisible[0].is_visible">
      <a class="dropdown" ui-sref="sample-collection" data-original-title="sample collection"><i class="fa fa-list-alt"></i><span class="hidden-minibar"> sample collection<span class="badge bg-primary pull-right">9</span></a>
      <ul>
        <li ><a href="dropzone-file-upload.html" data-original-title="Dropzone"><i class="fa fa-level-down"></i><span>  Dropzone File Upload</span></a></li>
      </ul> 
    </li>
  </ul>
</div>
            