<div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">pmsapp</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ui-sref-active="active">
                  <a ui-sref="main">Home</a>
              <li ui-sref-active="active">
                <a ui-sref="genric">genric</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="login">Login</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="descriptive-test">descriptive test</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="testmaster">testmaster</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="addsnippet">addsnippet</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="addflag">addflag</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="patient-master">patient master</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="patient-registration">patient registration</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="test-master-details">test details</a>
              </li>
            </ul>
          </div>
        </div>
      </div>