<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">pmsapp</a>
		</div>

		<div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
				<li ui-sref-active="active">
					<a ui-sref="main">Home</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="genric">genric</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="login">Login</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="descriptive-test">descriptive test</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="testmaster">Testmaster</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="flag-master">Flag Master</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="patient-master">Patient Master</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="patient-registration">patient registration</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="test-master-details">test details</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="staff-master">Staff Master</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="snippet-master">Snippet Master</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="bill-master-detail-view">bill-master-detail-view</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="pms-administration">pms-administration</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="user-account">user-account</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="cc-charges">cc-charges</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="hospital-master">hospital-master</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="profile-master">profile-master</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="pms-reports">pms-reports</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="assign-test">assign-test</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="test-calculator">test-calculator</a>
                </li>
                <li ui-sref-active="active">
					<a ui-sref="sample-collection">sample-collection</a>
                </li>
            </ul>
        </div>
	</div>
</div>