<div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">pmsapp</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>

              <li ui-sref-active="active">
                <a ui-sref="#/genric">genric</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="login">Login</a>
              </li>
              <li><a ng-href="#/descriptive-test">descriptive test</a></li>
              <li><a ng-href="#/addgroup">addgroup</a></li>
              <li><a ng-href="#/addemployeecategory">addemployeecategory</a></li>
              <li><a ng-href="#/addfaculty">addfaculty</a></li>
              <li><a ng-href="#/testmaster">testmaster</a></li>
              <li><a ng-href="#/addcontactcategory">addcontactcategory</a></li>
              <li><a ng-href="#/addexamtype">addexamtype</a></li>
              <li><a ng-href="#/addsnippet">addsnippet</a></li>
              <li><a ng-href="#/addflag">addflag</a></li>
              <li><a ng-href="#/addsample">addsample</a></li>
              <li><a ng-href="#/addinstrument">addinstrument</a></li>
              <li><a ng-href="#/addmethod">addmethod</a></li>
              <li><a ng-href="#/patient-master">patient master</a></li>
              <li><a ng-href="#/patient-registration">patient registration</a></li>S
            </ul>
          </div>
        </div>
      </div>