<div class="pms-reports">
           <h2>Reports</h2>
      <form>



          <div class="col-md-7">
           <form>
<hr class="divider">               
                	<div class="row">
                	<div class="col-md-4">    
			           	<label  class="control-label" for="inputdefault">Staff name</label>:
			           	</div>
			           	<div class="col-md-7">
								<select class="selectpicker form-control">
								<option>MAHARASTRA</option>
								<option>KERELA</option> 
							</select>
					   </div>
					   </div>               
               
 <hr class="divider">               
                	<div class="row">
                	<div class="col-md-4">    
			           	<label  class="control-label" for="inputdefault">From</label>:
			           	</div>
			           	<div class="col-md-7">
							<input capitalize class="form-control" ng-model="cntctno" id="513" type="number" placeholder="date" mandotary>
					   </div>
					   </div>
<hr class="divider">					   
					<div class="row">
                	<div class="col-md-4">    
			           	<label  class="control-label" for="inputdefault">To</label>:
			           	</div>
			           	<div class="col-md-7">
							<input capitalize class="form-control" ng-model="cntctno" id="513" type="number" placeholder="date" mandotary>
					   </div>
					   </div>
<hr class="divider">
                      <div class ="checkbox form-group" >
                   <label><input type="checkbox" value=""><b>Lab/Branch/CC wise patient Reg. Report<b></label>
                </div>

<hr class="divider">
					  <div class ="checkbox form-group" >
                   <label><input type="checkbox" value=""><b>Reffered wise patient Reg. Report<b></label>
                </div>

<hr class="divider">
					  <div class ="checkbox form-group" >
                   <label><input type="checkbox" value=""><b>Reffered wise Summary Report<b></label>
                </div>

<hr class="divider">
					  <div class ="checkbox form-group" >
                   <label><input type="checkbox" value=""><b>CC Wise Billing Report<b></label>
                </div>

<hr class="divider">
					       <div class ="checkbox form-group" >
                   <label><input type="checkbox" value=""><b>TestWise Wise Collection Center Performance<b></label>
                </div>


<hr class="divider">
					   <div class="form-group">
						   <div class="col-md-offset-1  col-md-12">
							<button type="button" class="btn btn-warning">Generate report</button>
							
							
						</div>
       </form>
</div>