<div class="administration">
           <h2>Administration</h2>
      <form>



          <div class="col-md-7">
           <form>

               <div class ="checkbox form-group" >Prepared by:
                   <label><input type="checkbox" value=""><b>Authorised<b></label>
                </div>

                
 <hr class="divider">               
                	<div class="row">
                	<div class="col-md-4">    
			            	<label  class="control-label" for="inputdefault">Default state</label>:
			            	</div>
			            	<div class="col-md-7">
							 	<select class="selectpicker form-control">
								<option>MAHARASTRA</option>
								<option>KERELA</option> 
							 </select>
					    </div>
					    </div>
<hr class="divider">					    
					 <div class="row">
					    <div class="col-md-4">     
			            	<label  class="control-label" for="inputdefault">Default City-Dist </label>
			            	</div>
			            	<div class="col-md-7">
							 	<select class="selectpicker form-control">
								<option>PUNE</option>
								<option>SOLAPUR</option> 
							 </select>
					    </div>
					    </div>
<hr class="divider">
                        <div class="row">
					    <div class="col-md-4">
					            <label  class="control-label" for="inputdefault">Profile</label>
					    </div>
					          <div class="col-md-7">
							 	<select class="selectpicker form-control">
								<option>NAME</option>
								<option>CODE</option> 
							 </select>
					    </div>
					    </div>
<hr class="divider">
					    <div class="row">
					    <div class="col-md-4">     
			            	<label  class="control-label" for="inputdefault">Test</label>
			            	</div>
			            	<div class="col-md-7">
							 	<select class="selectpicker form-control">
								<option>NAME</option>
								<option>SHORTFORM</option> 
							 </select>
					    </div>
					    </div>
<hr class="divider">
					    <div class="row">
					    <div class="col-md-4"> 
					     	   <label  class="control-label" for="inputdefault">Signature</label>
					     	   </div>
					     	   <div class="col-md-7">
							 	<select class="selectpicker form-control">
								<option>DIGITAL</option>
								<option>PHYSICAL</option> 
							 </select>
					    </div>
					    </div>
<hr class="divider">
					    <div class="row">
					    <div class="col-md-4">    
			            	<label  class="control-label" for="inputdefault">Barcode</label>
			            	</div>
			            	<div class="col-md-7">
							 	<select class="selectpicker form-control">
								<option>ENABLE</option>
								<option>DISABLE</option> 
							 </select>
					    </div>
					    </div>
<hr class="divider">
					         <div class="row">
					    <div class="col-md-4"> 
			            	<label  class="control-label" for="inputdefault">Print report on</label>
			            	</div>
			            	<div class="col-md-7">
							 	<select class="selectpicker form-control">
								<option>LETTER HEAD</option>
								<option>PLAIN PAPER</option> 
							 </select>
					    </div></div>

<hr class="divider">
					    <div class="form-group">
						    <div class="col-md-offset-1  col-md-12">
							<button type="button" class="btn btn-warning">DONE</button>
							<button type="button" class="btn btn-primary"> REMOVE </button>
							
						</div>
       </form>
</div>


