<p>This is the third part of workflow</p>

 <div class="col-md-10">
                      

                          <form role="inline">        <!--  first form  -->
				   

				    <div class="form-group col-md-6 ">	          
				            <label class="control-label" for="inputdefault">Barcode:</label>
			        </div>


                    <div class="form-group col-md-6">

				            <label class="control-label" for="inputdefault">Date:</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">contact  :</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">name:</label>
			        </div>


			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">gender:</label>
			        </div>

			         <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">age:</label>
			        </div>
			       
                   
                   <div class="col-md-10">
			        <div class="container">
  <table class="table table-bordered table-responsive">
    <thead >
      <tr class="danger">
        <th>Test</th>
        <th>Expected range</th>
        <th>observed range</th>
        <th>unit</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>blood</td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-primary btn-xs">EDIT</button></td>
      </tr>
      <tr>
        <td>sugar</td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-primary btn-xs">EDIT</button></td>
      </tr>
      <tr>
        <td>thyroid</td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-primary btn-xs">EDIT</button></td>
      </tr>
    </tbody>
  </table>
</div></div>


<div class="col-md-10 ">
<div class="container">
<table class="table table-bordered">
    <thead>
      <tr >
        <th class="danger">sample</th>
        <th class="danger">collect</th>
        <th class="danger">recieve</th>
        <th class="danger">reject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          
        <td >Blood</td>
        <td><input type="checkbox" value=""></td>
        <td><input type="checkbox" value=""></td>
        <td><input type="checkbox" value=""></td>
      </tr>
      <tr >
        <td >urine</td>
        <td><input type="checkbox" value=""></td>
        <td><input type="checkbox" value=""></td>
         <td><input type="checkbox" value=""></td>
      </tr>
      <tr >
        <td >serum</td>
        <td><input type="checkbox" value=""></td>
        <td><input type="checkbox" value=""></td>
        <td><input type="checkbox" value=""></td>
      </tr>
    </tbody>
  </table>
</div><button type="button" class="btn btn-primary btn-sm">SUBMIT</button>
</div></div>

