<p>This is the third part of workflow</p>

 <div class="col-md-10 addBorder">
                      

                          <form role="inline">        <!--  first form  -->
				   

				    <div class="form-group col-md-6 ">	          
				            <label class="control-label" for="inputdefault">Barcode:</label>
			        </div>


                    <div class="form-group col-md-6">

				            <label class="control-label" for="inputdefault">Date:</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">contact  :</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">name:</label>
			        </div>


			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">gender:</label>
			        </div>

			         <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">age:</label>
			        </div>

			        
