<div class="staff-master"><!-- main div class -->
    <h1>Staff Master</h1>
      <form><!-- main form -->
            <div class="col-md-5" ><!-- first division of page starts -->
                          <div class="form-group">
                                      <div class="col-md-12">  <label class="control-label" for="inputdefault">Staff category</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control ">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-warning  btn-md">ADD</button>
                               </div> 


                               <div class="form-group">            
                                        <label class="control-label" for="inputdefault">Name</label>
                                        <input capitalize class="form-control" ng-model="name" id="125" type="text" mandotary>
                               </div>


                                <div class="form-group">
                                         <label>address</label>
                                         <textarea class="form-control ng-pristine ng-valid ng-touched" rows="7" id="searchresult" ng-model="ad" aria-multiline="true" aria-invalid="false" style=""></textarea>
                                  </div>

                                 <div class="form-group">            
                                        <label class="control-label" for="inputdefault">Pan number</label>
                                        <input capitalize class="form-control" ng-model="pno" id="155" type="text" mandotary>
                                 </div>

                                <div class="form-group">
                                       <div class="col-md-12">  <label class="control-label" for="inputdefault">Faculty</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control ">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-warning  btn-md">ADD</button>
                               </div>


                                 <div class="form-group">            
                                        <label class="control-label" for="inputdefault">EPF</label>
                                        <input capitalize class="form-control" ng-model="epf" id="1159" type="text" mandotary>
                                 </div>


                                 <div class="form-group">            
                                        <label class="control-label" for="inputdefault">ESIC</label>
                                        <input capitalize class="form-control" ng-model="esic" id="158" type="text" mandotary>
                                 </div>


                                 <div class="form-group">            
                                        <label class="control-label" for="inputdefault">Bank name</label>
                                        <input capitalize class="form-control" ng-model="Bno" id="157" type="text" mandotary>
                                 </div>


                                 <div class="form-group">            
                                          <label class="control-label" for="inputdefault">Account number</label>
                                          <input capitalize class="form-control" ng-model="Ano" id="156" type="text" mandotary>
                                 </div>

         </div><!-- first division of page ends -->

         <div class="col-md-5"><!-- second division of page starts here --> 

                                  <div class="form-group">            
                                          <label class="control-label" for="inputdefault">Designation</label>
                                          <input capitalize class="form-control" ng-model="dsgn" id="199" type="text" mandotary>
                                 </div>


                                  <div class="form-group">            
                                          <label class="control-label" for="inputdefault">Qualification</label>
                                          <input capitalize class="form-control" ng-model="qual" id="200" type="text" mandotary>
                                  </div>


                                  <div class="form-group">            
                                          <label class="control-label" for="inputdefault">Registration number</label>
                                          <input capitalize class="form-control" ng-model="rn" id="777" type="text" mandotary>
                                  </div>


                                  <div class="form-group">
                                         <div class="col-md-12">  <label class="control-label" for="inputdefault">State</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control ">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-warning  btn-md">ADD</button>
                                   </div> 


                                   <div class="form-group">
                                         <div class="col-md-12">  <label class="control-label" for="inputdefault">city</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control ">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-warning  btn-md">ADD</button>
                                   </div> 


                                   <div class="form-group">            
                                            <label class="control-label" for="inputdefault">CONTACT NUMBER</label>
                                            <input capitalize class="form-control" ng-model="cno" id="513" type="text" mandotary>
                                  </div>


                                  <div class="form-group">            
                                            <label class="control-label" for="inputdefault">EMAIL</label>
                                            <input capitalize class="form-control" ng-model="eml" id="582" type="text" mandotary>
                                  </div>



                                  <div class="form-group">            
                                            <label class="control-label" for="inputdefault">DOB</label>
                                            <input capitalize class="form-control" ng-model="rn" id="741" type="text" mandotary>
                                  </div>


                                  <div class="form-group">
                                            <div class="col-md-12">  <label class="control-label" for="inputdefault">Hospital name</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control ">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-warning  btn-md">ADD</button>
                                   </div> 


                                   <div class="form-group">
                                            <div class="col-md-12">  <label class="control-label" for="inputdefault">Branch name</label></div>
                                       <div class="col-md-9"> <select class="selectpicker form-control ">
                                        <option>example</option>
                                        <option>example</option>
                                        </select></div>
                                        <button type="button" class="btn btn-warning  btn-md">ADD</button>
                                   </div>

                                                                         
              </div> <!-- second division of page ends -->

                                                                                                                                              
         <div class="col-md-2">                                        <!-- third division of page starts -->
                                  <div class="form-group">
                                          <label>Photo</label>
                                          <div class="fileupload fileupload-new" data-provides="fileupload">
                                          <div class="fileupload-preview thumbnail" style="width: 80px; height: 150px;"></div>
                                          <div>
                                          <span class="btn btn-file"><span class="fileupload-new">Select image</span><br>
                                          <span class="fileupload-exists">Change</span><input type="file" /></span>
                                          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>  
                                  </div>
                       <hr class="divider">
                                  <div class="form-group">
                                          <label>Signature</label>
                                          <div class="fileupload fileupload-new" data-provides="fileupload">
                                          <div class="fileupload-preview thumbnail" style="width: 80px; height: 150px;"></div>
                                          <div>
                                          <span class="btn btn-file"><span class="fileupload-new">Select image</span><br>
                                          <span class="fileupload-exists">Change</span><input type="file" /></span>
                                      <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>  
                                  </div>

         </div> <!-- third division of page ends -->
                              </div></div></div></div>
                                          <div class="form-group ">
                                                  <div class="col-md-offset-1  col-md-12">
                                                   <button type="button" class="btn btn-success">SAVE</button>
                                                   <button type="button" class="btn btn-info">UPDATE</button>
                                                   <button type="button" class="btn btn-warning">CLEAR</button>
                                          </div>


              <div class="col-md-12">
                
                     <hr class="divider">

                             <form group="inline">
                                   <table id="myTable" class="table table-striped" >

                                          <thead>  
                                            <tr>  
                                              <th>staff name</th>  
                                              <th>designation</th>
                                              <th>contact no</th>
                                              <th>e-mail</th>
                                            </tr>  
                                          </thead>  
                                          <tbody>  
                                            <tr>  
                                              <td>accountatnt</td>  
                                              <td>acountant</td>
                                              <th>555555</th> 
                                              <th>i@gmail.com</th> 
                                                
                                            </tr>  
                                            <tr>  
                                              <td>administrator</td>  
                                              <td>patho</td> 
                                              <th>5555555</th> 
                                              <th>i@yahoo.com</th> 
                                                
                                            </tr>  
                                            <tr>  
                                              <td>receptionist</td>  
                                              <td>main</td>
                                              <th>4444444</th> 
                                              <th>l@hotmail</th> 
                                              
                                            </tr>  
                                             <tr>  
                                              <td>pathologist</td>  
                                              <td>branch</td>
                                              <th>444444</th> 
                                              <th>k@rediffmail.com</th> 
                                                
                                             
                                            </tr>  
                                            
                                            </tbody>  
                                        </table>  

    </form>        
</div>
   
                                    
                              






                                 

















































































































    </form>
</div><!-- main div class ends -->


         