<h2>This is the 2nd page of workflow view(workflow list</h2>

<div class="col-md-10 ">
	                       <div class="form-inline col-md-4">
	                       <div class="btn-group ">
                  <button type="button" class="btn btn-info btn-lg dropdown-toggle " data-toggle="dropdown">
                    Pending tests
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>pending tests and other information</li>
                    <li><a href="#">thyroid</a></li>
                    <li><a href="#">sugar</a></li>
                    <li><a href="#">blood and urine</a></li>
                  </ul>
                </div></div>

                 <div class="form-inline col-md-4 ">
	                       <div class="btn-group ">
                  <button type="button" class="btn btn-info btn-lg dropdown-toggle btn-animate-demo" data-toggle="dropdown">
                    completed tests
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>completed tests and other information</li>
                    <li><a href="#">sugar</a></li>
                    <li><a href="#">blood </a></li>
                  </ul>
                </div></div>

                 <div class="form-inline col-md-4">
	                       <div class="btn-group ">
                  <button type="button" class="btn btn-info btn-lg dropdown-toggle btn-animate-demo" data-toggle="dropdown">
                    Patient's History
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>test related history of the patient</li>
                    <li><a href="#">linl</a></li>
                    <li><a href="#">link</a></li>
                  </ul>
                </div><hr class="divider"></div>
</div>
  
                    <div class="col-md-10 addBorder">
                      

                          <form role="inline">        <!--  first form  -->
				   

				    <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">Barcode:</label>
			        </div>



                    <div class="form-group col-md-6">

				            <label class="control-label" for="inputdefault">Date:</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">patient name :</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">gender:</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">age:</label>
			        </div>
                 
                    <div class="col-md-12">           
				     <div class=" form-group col-md-2">
						   <label  class="control-label">Test</label>:
				           	</div> 
			           	 <div class="col-md-10">
							<div class="col-md-3"><a href="#sample-collection" class="inset">start</a></div> 
							<div class="col-md-3"><a href="#sample-collection" class="inset2">partially</a></div>
							<div class="col-md-3"><a href="#sample-collection" class="inset3">tested</a></div>
							<div class="col-md-3"><a href="#sample-collection" class="inset4">finished</a></div> 
			           	</div> </div> 
			           
			           	</div> 
			           	</form>											
 </div><hr class="divider">

                   <div class="col-md-10 addBorder">


                          <form role="inline">        <!--  first form  -->
				   

				    <div class="form-group col-md-6 ">	          
				            <label class="control-label" for="inputdefault">Barcode:</label>
			        </div>


                    <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">Date:</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">patient name :</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">gender:</label>
			        </div>

			        <div class="form-group col-md-6">	          
				            <label class="control-label" for="inputdefault">age:</label>
			        </div>
                 
                    <div class="col-md-12 ">           
				     <div class=" form-group col-md-2">
						   <label  class="control-label">Test</label>:
				           	</div>

			           	 <div class="col-md-10">
							<div class="col-md-3"><a href="#sample-collection" class="inset">start</a></div>
							<div class="col-md-3"><a href="#sample-collection" class="inset2">partially </a></div>
							<div class="col-md-3"><a href="#sample-collection" class="inset3">tested</a></div>
							<div class="col-md-3"><a href="#sample-collection" class="inset4">finished</a></div>
								</div> </div> 



			           
			           	</div>  
			           	</form>	
			          						
 </div>











                     
