<h2>This is the 2nd page of workflow view</h2>

<div class="col-md-10">
	                         <div class="col-md-4">
							        <label for="first">pending</label>
			                        <input id="first" type="checkbox" name="content1" ng-model="pending"  value="first">
			                  </div>

							    <div class="col-md-4">
							       <label for="second">completed</label>
			                       <input id="second" type="checkbox" name="content2" ng-model="comp" value="second">
							    </label></div>

							    <div class="col-md-4">
							        <label for="third">history</label>
			                       <input id="third" type="checkbox" name="content3" ng-model="his" value="third"></div>
							    </label>
</div><hr class="divider">
  
                     <div class="col-md-10">
                     	    <div class="row">
                	<div class="col-md-4">    
			           	<label  class="control-label" for="inputdefault">Barcode</label>:
			           	</div>
			           	<div class="col-md-7">
							<input  class="form-control" ng-model="brc" id="741" type="text" placeholder="barcode">
					   </div>
					   </div>
<hr class="divider">					   
					<div class="row">
                	<div class="col-md-4">    
			           	<label  class="control-label">Date</label>:
			           	</div>
			           	<div class="col-md-7">
							<input  class="form-control" ng-model="de" id="444" type="number" placeholder="date" >
					   </div>
					   </div>

					   <hr class="divider">					   
					<div class="row">
                	<div class="col-md-4">    
			           	<label  class="control-label">Patient name</label>:
			           	</div>
			           	<div class="col-md-7">
							<input  class="form-control" ng-model="pnme" id="412" type="text" placeholder="patient name" >
					   </div>
					   </div>

					    <hr class="divider">					   
					<div class="row">
                  
					<div class="col-md-4">
					           <label>Gender</label>:
			           	   </div>
			           	       <div class="col-md-4">
							        <label for="first">Male</label>
			                        <input id="first" type="checkbox">
			                  </div>

							    <div class="col-md-4">
							       <label for="second">Female</label>
			                       <input id="second" type="checkbox">
							    </label></div>

							    <hr class="divider">					   
					
                	<div class="col-md-4">    
			           	<label  class="control-label">Age</label>:
			           	</div>
			           	<div class="col-md-4">
							<input  class="form-control" ng-model="ae" id="785" type="number">
					   </div>
					   </div></div><hr class="divider">

					   <div class="col-md-4">    
			           	<label  class="control-label">Test</label>:
			           	</div>












                     
