<div class="row">                                      <!-- Main ROW Open -->	
		<h1>Test master</h1>
			<form role="form-inline">

				<div class="col-md-6">                   <!-- 1st division -->
                        
                        <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Find test:</label>
				            <input capitalize class="form-control" ng-model="findtest" id="inputdefault" type="text">
			            </div>

                        <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Test name:</label>
				            <input capitalize class="form-control" ng-model="testname" id="inputdefault" type="text">
			            </div>

			            <div class="form-group">	          
				            <label class="control-label" for="inputdefault">Heading:</label>
				            <input capitalize class="form-control" ng-model="heading" id="inputdefault" type="text">
			            </div>

			            <div class="form-group">	          
				            <label class="control-label" for="inputdefault">shortform:</label>
				            <input capitalize class="form-control" ng-model="shortform" id="inputdefault" type="text">
			            </div>

			            <div class="form-group">
							<label class="control-label" for="inputdefault">Test charges</label>:
					 		<input type="number" name="input" class="form-control" ng-model="example.value" min="0" max="99" required />
			          	</div>

		      
			        	<div class="form-group">     
			            	<label  class="control-label" for="inputdefault">Flag</label>:
							 	<select class="selectpicker form-control">
								<option>sample</option>
								<option>ple</option> 
							 </select>
					    </div>
				    
						<div class="form-group">     
								<label class="control-label" for="inputdefault">Method</label>:
								<select class="selectpicker form-control">
								<option>example</option>
								<option>example</option>
								</select>
						</div>
					
			            <div class="form-group">
				         	<label class="control-label" for="inputdefault">Sample</label>:
					        <select class="selectpicker form-control">
					            <option>example</option>
					            <option>example</option>
			                </select>
						</div>			       

			            <div class="form-group">
					        <label class="control-label" for="inputdefault">Instrument</label>:
							    <select class="selectpicker form-control">
									<option>example</option>
									<option>example</option>
				        	</select>
				        </div>

				        <div class="form-group">
             			        <label class="control-label" for="inputdefault">Remark:</label>
                                <textarea class="form-control custom-control" rows="8" style="resize:none"></textarea>
					    </div>
						
						<div class="form-group">
						    <div class="col-md-offset-1  col-md-12">
							<button type="button" class="btn btn-warning">ADD</button>
							<button type="button" class="btn btn-primary"> SAVE </button>
							<button type="button" class="btn btn-info">UPDATE</button>
							<button type="button" class="btn btn-warning">CLEAR</button>
						</div>		
						</div>

				</div>	

			</form>
			    
                

            <form role="form-inline">
                <div class="col-md-6">              <!-- 2nd division of web page -->  

                      <div class="form-group">     
		            	<label  class="control-label" for="inputdefault">Exam type</label>:
						 	<select class="selectpicker form-control">
							<option>example</option>
							<option>example</option> 
						 </select>
				      </div>

				     <div class="form-group">	          
			            <label class="control-label" for="inputdefault">Test details:</label>
			            <input capitalize class="form-control" ng-model="findtest" id="inputdefault" type="text">
		             </div>

		              <div class="form-group">	          
			            <label class="control-label" for="inputdefault">Unit:</label>
			            <input capitalize class="form-control" ng-model="unit" id="inputdefault" type="text">
		            </div>

		             <div class="form-group">	          
			            <label class="control-label" for="inputdefault">Order:</label>
			            <input capitalize class="form-control" ng-model="order" id="inputdefault" type="text">
		            </div>

		             <div class="form-group">	          
			            <label class="control-label" for="inputdefault">Min ref.:</label>
			            <input capitalize class="form-control" ng-model="minref" id="inputdefault" type="text">
		            </div>

		             <div class="form-group">	          
			            <label class="control-label" for="inputdefault">Max ref.:</label>
			            <input capitalize class="form-control" ng-model="maxref" id="inputdefault" type="text">
		            </div>

		             <div class="form-group">	          
			            <label class="control-label" for="inputdefault">Min age:</label>
			            <input capitalize class="form-control" ng-model="minage" id="inputdefault" type="text">
		            </div> 

		             <div class="form-group">	          
			            <label class="control-label" for="inputdefault">Max age:</label>
			            <input capitalize class="form-control" ng-model="maxage" id="inputdefault" type="text">
		            </div>

		            <div class="form-group">     
		            	<label  class="control-label" for="inputdefault">Gender</label>:
						 	<select class="selectpicker form-control">
							<option>Male</option>
							<option>Female</option> 
						 </select>
				      </div>

				      <div class="form-group">
					    <div class="col-md-offset-1  col-md-12">
						<button type="button" class="btn btn-warning">ADD</button>
						<button type="button" class="btn btn-info">UPDATE</button>
						<button type="button" class="btn btn-warning">DONE</button>
					</div></div></div>

            </form>
</div>



                                    
											<table class="table table-bordered">
											        <thead>
											            <tr>
											                
											                <th>EXAMINATION TYPE</th>
											                <th>ORDER</th>
											                <th>TEST DETAILS</th>
											                <th>UNIT</th>
											                <th>REFERANCE RANGE</th>
											                <th>AGE</th>
											                <th>GENDER</th>
											                <th>ACTION</th>
											            </tr>
											        </thead>
											        <tbody>
											            <tr>
											                <td>EXAMPLE 1</td>
											                <td></td>
											                <td></td>
											                <td><td>
											                <td></td>
											                <td></td>
											                <td><a href="#"  <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="DELETE"></a></td>
											               
											            </tr>
											            <tr>
											                <td>EXAMPLE 2</td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											            </tr>
											            <tr>
											                <td>EXAMPLE3</td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											                <td></td>
											            </tr>
											        </tbody>
											    </table>
											                   </div>
											</div>






                          




























































</div>				